

<!--================Choose Us Area =================-->

<section class="choose_us_area" id="about">
  <div class="col-md-6">
    <div class="row left_choose_image">
      <ul>
        <!-- <li><img src="{{rootURL}}assets/images/kitady_amazon.png" alt=""></li> -->
        <li><img style="width: 50vh" src="{{rootURL}}assets/images/kitady_visa.png" alt="" data-parallax='{"x": 25, "y": -50}'></li>
        <li><img style="width: 50vh" src="{{rootURL}}assets/images/kitady_play_store.png" alt="" data-parallax='{"x": 50, "y": -100}'></li>
        <li><img style="width: 50vh" src="{{rootURL}}assets/images/kitady_master_card.png" alt="" data-parallax='{"x": 90, "y": -180}'></li>
        <li><img style="width: 50vh" src="{{rootURL}}assets/images/kitady_amazon.png" alt="" data-parallax='{"x": 20, "y": -130}'></li>
        <li><img style="width: 50vh" src="{{rootURL}}assets/images/kitady_ebay.png" alt="" data-parallax='{"x": 20, "y": -100}'></li>


        <!-- <li><img src="{{rootURL}}assets/template_images/mockup-img/m-image-7.png" alt=""></li> -->
        <li><img style="width: 50vh" src="{{rootURL}}assets/images/kitady_apple_store.png" alt="" data-parallax='{"x": 90, "y": -180}'></li>

      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="right_choose_image">
      <div class="left_title">
        <h2 style="font-weight: bold;color:#000000AA">porquê ESCOLHER-NOS ?</h2>
        <p style="color:#000000AA">Kitady é uma empresa criada para suprir as necessidades que a população Africana tem fazer compras internacionais.
          Nós facilitamos o acesso a cartões de compras internacionais como: </p>

        <!-- o Visa, amazon, apple, google play e muito mais.-->
        <!--<p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>-->
      </div>
      <div class="row choose_item_inner">
        <div class="col-md-6 col-xs-6">
          <div class="choose_item">
            <div class="media">
              <div class="media-left">
                <a ><i class="fa fa-cc-visa"></i></a>
              </div>
              <div class="media-body">
                <h4 style="">VISA</h4>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="choose_item">
            <div class="media">
              <div class="media-left">
                <a ><i class="fa fa-apple"></i></a>
              </div>
              <div class="media-body">
                <h4 style="">Apple</h4>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="choose_item">
            <div class="media">
              <div class="media-left">
                <a ><i class="fa fa-amazon"></i></a>
              </div>
              <div class="media-body">
                <h4 style="">Amazon</h4>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="choose_item">
            <div class="media">
              <div class="media-left">
                <a ><i class="fab fa-ebay"></i></a>
              </div>
              <div class="media-body">
                <h4 style="">Ebay</h4>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-6">
          <div class="choose_item">
            <div class="media">
              <div class="media-left">
                <a ><i class="fa fa-cc-mastercard"></i></a>
              </div>
              <div class="media-body">
                <h4 style="">MasterCard</h4>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-6">
          <div class="choose_item">
            <div class="media">
              <div class="media-left">
                <a ><i class="fab fa-google-play"></i></a>
              </div>
              <div class="media-body">
                <h4 style="">Google Play</h4>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--================End Choose Us Area =================-->


{{yield}}
