{{!-- The following component displays Ember's default welcome message. --}}

{{#nav-bar}}
{{/nav-bar}}

{{#main-cover}}
{{/main-cover}}




{{#about-us}}
{{/about-us}}




{{#our-banks}}
{{/our-banks}}


<div class="user_form">
<div class="container">
  <div class="row" style="height: 90vh;;margin: 80px 0px 80px 0px">
    <div class="col-md-12 col-xs-12" style="margin-top:10vh">
      <aside class="f_widget contact_widget">
        <div class="main_title " >
          <h2 style="font-weight: bold;color:#000000AA">Formulário</h2>
        </div>

        <form class="row " style="margin-top: 50px" {{action "requestCard" on="submit"}} method="post" id="user-form">
          <div class="col-md-6">
            <div class="row">
              <div class="form-group col-md-12">
                {{input required=true id='fullName' type="text" class="form-control" placeholder='Nome Completo' value=fullName }}

              </div>
              <div class="form-group col-md-12">
                <!--<input type="text" name="usrname" required>-->
                {{input required=true id='phone' type="number" class="form-control" placeholder='Número de Telefone' name="phone" value=phone}}
              </div>
              <div class="form-group col-md-12">
                {{input required=true id='email' type="email" class="form-control" placeholder='E-Mail' name="email" value=email}}
              </div>

              <div class="form-group col-md-12">
                {{input required=true id='boldero_numer' type="text" class="form-control" placeholder='Número do bordereau' name="boldero_numer" value=boldero_numer}}
              </div>

              <div class="form-group col-md-12">
                {{input required=true id='amound_deposited' type="text" class="form-control" placeholder='dinheiro depositado' name="amound_deposited" value=amound_deposited}}
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="form-group col-md-12">
                {{textarea id='boldero_numer' type="text" class="form-control" name="message" id="message" placeholder='Mensagem.......' name="message" value=message}}
              </div>
            </div>
          </div>

          <div class="form-group item col-md-4 ">
            <p class="col-md-4" style="color: #000000AA">Banco </p>
            <select name="type_of_bank" id="type_of_bank" required>
              <option value="BAI" selected>BAI</option>
              <option value="Atlantico">Atlantico</option>
            </select>

          </div>

          <div class="form-group item col-md-4 ">
            <p class="col-md-4" style="color: #000000AA">Tipo de cartão </p>
            <select name="type_of_card" id="type_of_card" required>
              <option value="Visa" selected>Visa</option>
              <option value="Amazon">Amazon</option>
              <option value="Apple Store">Apple Store</option>
              <option value="Google Play">Google Play</option>
              <option value="Ebay">Ebay</option>
            </select>
          </div>

          <div class="form-group item col-md-4 ">
            <p class="col-md-4" style="color: #000000AA">Quantidade de dinheiro no cartão</p>
            <select name="budget" id="budget" required>
              <option value="25 " selected>25$</option>
              <option value="50">50$</option>
              <option value="75">75$</option>
              <option value="100">100$</option>
              <option value="150">150$</option>
            </select>
          </div>


          <div class="form-group col-md-3">
            <button type="submit" class="form-control">Submeter o pedido</button>

            <!--<button type="submit" value="submit your quote" class="btn submint_btn form-control">ENVIAR</button>-->
          </div>
        </form>
      </aside>
    </div>
  </div>
</div>
</div>


{{#product-feature}}
{{/product-feature}}




{{#pricing-table}}
{{/pricing-table}}


{{#frequently-asked-questions}}
{{/frequently-asked-questions}}

{{#nav-footer}}
{{/nav-footer}}

<!-- 
{{welcome-page}}
{{!-- Feel free to remove this! --}}

{{outlet}} -->
